# build output
#dist
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store


#all files except dist

.vscode
public
src
.prettierrc.mjs
astro.config.mjs
package.json
pnpm-lock.yaml
README.md
tailwind.config.mjs
tsconfig.json