html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  color: var(--gray-2);
  background-image: url('/background.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
*, *::before, *::after {
  box-sizing: inherit;
}

main {
  /* container-type: inline-size; */
  margin: auto;
  padding: 1.5rem;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;



}
@media screen and (max-width: 768px) {
  main {
    max-width: 100%;
    padding: .5rem;
  }
}
h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: 800;
  margin: 0;
}
.text-gradient {
  background: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%; */
}
.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: rgba(29, 226, 248, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: .5rem ;
    -webkit-border-radius: .5rem ;
    -moz-border-radius: .5rem ;
    -ms-border-radius: .5rem ;
    -o-border-radius: .5rem ;
}
.instructions code {
  font-size: 0.875em;
  font-weight: bold;
  color: var(--yellow-4);
  border-radius: 4px;
  padding: 0.3em 0.45em;
}
.instructions strong {
  color: var(--yellow-4);
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}